.jumbotron{
	width: 400px;
	text-align: center;
	margin-left: auto;;
	margin-right: auto;
	margin-top: 20px;
	padding: 20px;
}

.jumbotron table th {
	text-align: center;
}

.selected {
	background: #337ab7;
}

.form-control {
	margin-bottom: 10px;
}