
		<input class="form-control" type="text" ng-model="contact.name" placeholder="Nome" />
		<input class="form-control" type="text" ng-model="contact.phone" placeholder="Telefone" />
		<select class="form-control" ng-model="contact.operator" ng-op ng-options="operator.name group by operator.category for operator in operators">
			<option value="">Selecione uma Operadora</option>
		</select>
		<button class="btn btn-primary btn-block" ng-disabled="!contact.name || !contact.phone" ng-click="addContact(contact)">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-click="removeContact(contacts)" ng-if="isContactSelected(contacts)">Remover Contato</button>
		<!-- <button class="btn btn-danger btn-block" ng-click="removeContact(contacts)" ng-show="isContactSelected(contacts)">Remover Contato</button> -->
		<!-- <button class="btn btn-danger btn-block" ng-click="removeContact(contacts)" ng-disabled="!isContactSelected(contacts)">Remover Contato</button> -->